In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler

pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv(("C:\\Users\\Sneha\\Desktop\\Crime Pridictive Analysis\\data\\Crime_Incidents_in_2025.csv"),encoding = "Latin 1")
print(df.head())

          ï»¿X            Y       CCN              REPORT_DAT  \
0  400588.4650  129470.0424   5131706  2025/02/05 05:00:00+00
1  399950.1386  130512.4788  17194618  2025/06/30 04:00:00+00
2  406827.3300  136094.5500  22058767  2025/06/30 04:00:00+00
3  399075.7100  128801.5400  22108667  2025/01/02 05:00:00+00
4  396953.5100  146888.4100  25102388  2025/07/08 00:50:25+00

               START_DATE                END_DATE  \
0  2005/09/27 07:25:00+00  2005/09/27 07:26:00+00
1  2017/11/09 20:44:00+00  2017/11/09 22:57:34+00
2  2022/04/28 02:21:00+00  2022/04/28 05:00:00+00
3  2022/07/30 01:12:00+00  2022/07/30 01:13:00+00
4  2025/07/07 11:00:00+00  2025/07/07 16:00:00+00

                                   BLOCK       OFFENSE  METHOD     SHIFT  \
0     800 - 899 BLOCK OF XENIA STREET SE      HOMICIDE     GUN  MIDNIGHT
1     3200 - 3299 BLOCK OF 4TH STREET SE      HOMICIDE     GUN  MIDNIGHT
2      200 - 399 BLOCK OF 56TH STREET NE      HOMICIDE     GUN  MIDNIGHT
3  1 - 199 BLOCK OF DARRINGTON STREET SW      HOMICIDE     GUN  MIDNIGHT
4   1500 - 1599 BLOCK OF ROXANNA ROAD NW  THEFT F/AUTO  OTHERS   EVENING

   WARD ANC  DISTRICT    PSA NEIGHBORHOOD_CLUSTER BLOCK_GROUP  CENSUS_TRACT  \
0     8  8E       7.0  706.0           Cluster 39    009801 1        9801.0
1     8  8C       7.0  705.0           Cluster 39    009804 2        9804.0
2     7  7C       6.0  608.0           Cluster 31    007808 3        7808.0
3     8  8D       7.0  708.0           Cluster 39    009807 3        9807.0
4     4  4A       4.0  401.0           Cluster 16    001600 1        1600.0

  VOTING_PRECINCT  BID         XBLOCK         YBLOCK   LATITUDE  LONGITUDE  \
0    Precinct 121  NaN  400588.464990  129470.042358  38.833020 -76.993222
1    Precinct 122  NaN  399950.138558  130512.478775  38.842411 -77.000574
2     Precinct 96  NaN  406827.330000  136094.550000  38.892670 -76.921301
3    Precinct 126  NaN  399075.710000  128801.540000  38.826997 -77.010645
4     Precinct 62  NaN  396953.510000  146888.410000  38.989925 -77.035165

    OBJECTID  OCTO_RECORD_ID
0  860225152             NaN
1  860234458             NaN
2  860503965             NaN
3  860514332             NaN
4  860517603             NaN

In [ ]:
df['REPORT_DAT'] = pd.to_datetime(df['REPORT_DAT'], errors='coerce')

df['Year'] = df['REPORT_DAT'].dt.year
df['Month'] = df['REPORT_DAT'].dt.month
df['Hour'] = df['REPORT_DAT'].dt.hour

df[['REPORT_DAT', 'Year', 'Month', 'Hour']].head()
# ML models cannot understand dates, but they understand:
# Year Month Hour

                 REPORT_DAT  Year  Month  Hour
0 2025-02-05 05:00:00+00:00  2025      2     5
1 2025-06-30 04:00:00+00:00  2025      6     4
2 2025-06-30 04:00:00+00:00  2025      6     4
3 2025-01-02 05:00:00+00:00  2025      1     5
4 2025-07-08 00:50:25+00:00  2025      7     0

In [4]:
# Handling missing values
df.isnull().sum().sort_values(ascending=False)

OCTO_RECORD_ID          23872
BID                     19125
END_DATE                 1668
PSA                        32
DISTRICT                   32
CENSUS_TRACT                6
BLOCK_GROUP                 6
START_DATE                  1
REPORT_DAT                  0
CCN                         0
ï»¿X                        0
Y                           0
ANC                         0
WARD                        0
SHIFT                       0
METHOD                      0
OFFENSE                     0
BLOCK                       0
VOTING_PRECINCT             0
NEIGHBORHOOD_CLUSTER        0
XBLOCK                      0
YBLOCK                      0
LONGITUDE                   0
LATITUDE                    0
OBJECTID                    0
Year                        0
Month                       0
Hour                        0
dtype: int64

In [ ]:
df['LATITUDE'].fillna(df['LATITUDE'].mean(), inplace=True)
df['LONGITUDE'].fillna(df['LONGITUDE'].mean(), inplace=True)

df.dropna(subset=['OFFENSE', 'METHOD', 'SHIFT'], inplace=True)
# Numerical → fill with mean
# Categorical → drop rows (small % loss is acceptable)

C:\Users\Sneha\AppData\Local\Temp\ipykernel_13924\4191528528.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['LATITUDE'].fillna(df['LATITUDE'].mean(), inplace=True)
C:\Users\Sneha\AppData\Local\Temp\ipykernel_13924\4191528528.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['LONGITUDE'].fillna(df['LONGITUDE'].mean(), inplace=True)

In [6]:
le = LabelEncoder()

categorical_cols = ['OFFENSE', 'METHOD', 'SHIFT', 'DISTRICT']

for col in categorical_cols:
    df[col] = le.fit_transform(df[col])

In [7]:
scaler = StandardScaler()

numerical_cols = ['LATITUDE', 'LONGITUDE', 'Year', 'Month', 'Hour']
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

df[numerical_cols].head()

   LATITUDE  LONGITUDE  Year     Month      Hour
0 -2.446645   0.474124   0.0 -1.293980 -1.057964
1 -2.146539   0.263062   0.0 -0.078429 -1.194984
2 -0.540415   2.538867   0.0 -0.078429 -1.194984
3 -2.639104  -0.026036   0.0 -1.597868 -1.057964
4  2.567569  -0.729977   0.0  0.225459 -1.743066

In [8]:
df.to_csv("../data/crime_preprocessed.csv", index=False)