In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score

In [2]:
df = pd.read_csv(("C:\\Users\\Sneha\\Desktop\\Crime Pridictive Analysis\\data\\crime_preprocessed.csv"),encoding = "Latin 1")
df.head()

,Ã¯Â»Â¿X,Y,CCN,REPORT_DAT,START_DATE,END_DATE,BLOCK,OFFENSE,METHOD,SHIFT,...,BID,XBLOCK,YBLOCK,LATITUDE,LONGITUDE,OBJECTID,OCTO_RECORD_ID,Year,Month,Hour
0,400588.4650,129470.0424,5131706,2025-02-05 05:00:00+00:00,2005/09/27 07:25:00+00,2005/09/27 07:26:00+00,800 - 899 BLOCK OF XENIA STREET SE,3,0,2,...,NaN,400588.464990,129470.042358,-2.446645,0.474124,860225152,NaN,0.0,-1.293980,-1.057964
1,399950.1386,130512.4788,17194618,2025-06-30 04:00:00+00:00,2017/11/09 20:44:00+00,2017/11/09 22:57:34+00,3200 - 3299 BLOCK OF 4TH STREET SE,3,0,2,...,NaN,399950.138558,130512.478775,-2.146539,0.263062,860234458,NaN,0.0,-0.078429,-1.194984
2,406827.3300,136094.5500,22058767,2025-06-30 04:00:00+00:00,2022/04/28 02:21:00+00,2022/04/28 05:00:00+00,200 - 399 BLOCK OF 56TH STREET NE,3,0,2,...,NaN,406827.330000,136094.550000,-0.540415,2.538867,860503965,NaN,0.0,-0.078429,-1.194984
3,399075.7100,128801.5400,22108667,2025-01-02 05:00:00+00:00,2022/07/30 01:12:00+00,2022/07/30 01:13:00+00,1 - 199 BLOCK OF DARRINGTON STREET SW,3,0,2,...,NaN,399075.710000,128801.540000,-2.639104,-0.026036,860514332,NaN,0.0,-1.597868,-1.057964
4,396953.5100,146888.4100,25102388,2025-07-08 00:50:25+00:00,2025/07/07 11:00:00+00,2025/07/07 16:00:00+00,1500 - 1599 BLOCK OF ROXANNA ROAD NW,7,2,1,...,NaN,396953.510000,146888.410000,2.567569,-0.729977,860517603,NaN,0.0,0.225459,-1.743066

In [3]:
X = df[['Year', 'Month', 'LATITUDE', 'LONGITUDE', 'OFFENSE']]
y = df['SHIFT']
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state=42
)

In [4]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

y_knn = knn.predict(X_test)

accuracy_score(y_test, y_knn)

0.45995308310991956

In [5]:
nb = GaussianNB()
nb.fit(X_train, y_train)

y_nb = nb.predict(X_test)

accuracy_score(y_test, y_nb)

0.42359249329758714

In [6]:
dt = DecisionTreeClassifier(random_state=42)
dt.fit(X_train, y_train)

y_dt = dt.predict(X_test)

accuracy_score(y_test, y_dt)

0.4363270777479893

In [7]:
svm = SVC(kernel='rbf')
svm.fit(X_train, y_train)

y_svm = svm.predict(X_test)

accuracy_score(y_test, y_svm)

0.4425268096514745

In [9]:
confusion_matrix(y_test, y_dt)

array([[1231,  919,  303],
       [1026, 1105,  353],
       [ 375,  388,  268]])

In [11]:

precision_score(y_test, y_dt, average='weighted')

0.4330262201302757

In [12]:

recall_score(y_test, y_dt, average='weighted')

0.4363270777479893

In [13]:

f1_score(y_test, y_dt, average='weighted')

0.43424679859484544