In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
df = pd.read_csv(("C:\\Users\\Sneha\\Desktop\\Crime Pridictive Analysis\\data\\crime_preprocessed.csv"),encoding = "Latin 1")
df.head()

,Ã¯Â»Â¿X,Y,CCN,REPORT_DAT,START_DATE,END_DATE,BLOCK,OFFENSE,METHOD,SHIFT,...,BID,XBLOCK,YBLOCK,LATITUDE,LONGITUDE,OBJECTID,OCTO_RECORD_ID,Year,Month,Hour
0,400588.4650,129470.0424,5131706,2025-02-05 05:00:00+00:00,2005/09/27 07:25:00+00,2005/09/27 07:26:00+00,800 - 899 BLOCK OF XENIA STREET SE,3,0,2,...,NaN,400588.464990,129470.042358,-2.446645,0.474124,860225152,NaN,0.0,-1.293980,-1.057964
1,399950.1386,130512.4788,17194618,2025-06-30 04:00:00+00:00,2017/11/09 20:44:00+00,2017/11/09 22:57:34+00,3200 - 3299 BLOCK OF 4TH STREET SE,3,0,2,...,NaN,399950.138558,130512.478775,-2.146539,0.263062,860234458,NaN,0.0,-0.078429,-1.194984
2,406827.3300,136094.5500,22058767,2025-06-30 04:00:00+00:00,2022/04/28 02:21:00+00,2022/04/28 05:00:00+00,200 - 399 BLOCK OF 56TH STREET NE,3,0,2,...,NaN,406827.330000,136094.550000,-0.540415,2.538867,860503965,NaN,0.0,-0.078429,-1.194984
3,399075.7100,128801.5400,22108667,2025-01-02 05:00:00+00:00,2022/07/30 01:12:00+00,2022/07/30 01:13:00+00,1 - 199 BLOCK OF DARRINGTON STREET SW,3,0,2,...,NaN,399075.710000,128801.540000,-2.639104,-0.026036,860514332,NaN,0.0,-1.597868,-1.057964
4,396953.5100,146888.4100,25102388,2025-07-08 00:50:25+00:00,2025/07/07 11:00:00+00,2025/07/07 16:00:00+00,1500 - 1599 BLOCK OF ROXANNA ROAD NW,7,2,1,...,NaN,396953.510000,146888.410000,2.567569,-0.729977,860517603,NaN,0.0,0.225459,-1.743066

In [3]:
basket = df[['OFFENSE', 'METHOD', 'SHIFT']].astype(str)
basket_encoded = pd.get_dummies(basket)

basket_encoded.head()

,OFFENSE_0,OFFENSE_1,OFFENSE_2,OFFENSE_3,OFFENSE_4,OFFENSE_5,OFFENSE_6,OFFENSE_7,OFFENSE_8,METHOD_0,METHOD_1,METHOD_2,SHIFT_0,SHIFT_1,SHIFT_2
0,False,False,False,True,False,False,False,False,False,True,False,False,False,False,True
1,False,False,False,True,False,False,False,False,False,True,False,False,False,False,True
2,False,False,False,True,False,False,False,False,False,True,False,False,False,False,True
3,False,False,False,True,False,False,False,False,False,True,False,False,False,False,True
4,False,False,False,False,False,False,False,True,False,False,False,True,False,True,False

In [4]:
frequent_itemsets = apriori(
    basket_encoded,
    min_support=0.05,
    use_colnames=True
)

frequent_itemsets.head()

    support     itemsets
0  0.163371  (OFFENSE_4)
1  0.055085  (OFFENSE_5)
2  0.222269  (OFFENSE_7)
3  0.482322  (OFFENSE_8)
4  0.053326   (METHOD_0)

In [5]:
rules = association_rules(
    frequent_itemsets,
    metric="confidence",
    min_threshold=0.6
)

rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']].head()

   antecedents consequents   support  confidence      lift
0  (OFFENSE_4)  (METHOD_2)  0.162617    0.995385  1.069678
1  (OFFENSE_7)  (METHOD_2)  0.221096    0.994723  1.068967
2  (OFFENSE_8)  (METHOD_2)  0.478594    0.992270  1.066331
3    (SHIFT_0)  (METHOD_2)  0.401098    0.971292  1.043787
4    (SHIFT_1)  (METHOD_2)  0.389326    0.936140  1.006011